* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    background-color: var(--bg-primary);
    color: var(--text-primary-color);
}

a {
    text-decoration: none;
    color: inherit
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

input, textarea {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    padding: 0.8rem;
    border-radius: var(--radius-md);
    color: var(--text-primary-color);
}

h1, h2, h3 {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--font-size-4xl);
}

h2 {
    font-size: var(--font-size-2xl);
}

h3 {
    font-size: var(--font-size-xl);
}